@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  color: #fff;
}

.bootstrap {
  background-color: #563d7c;
}

.tailwind {
  background-color: #312E81;
}